.App {
  text-align: left;
}

.App-logo-again {
  height: 55vmin;
  pointer-events: none;
}

.subHeader {
  opacity: 0.8;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
    overflow: hidden;
    outline: none;
}

.App-header-style {
  background:linear-gradient( -45deg, #9702a7,#0e7c07);
  background-size: 400% 400%;
  min-height: 90vmin;
  animation: gradient 50s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link { text-decoration: none; }

.App-link {
  color: #61dafb;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
